.container-fluid {
	font-size: 3.5vh;
}

#modal .modal-lg {
	max-width: 800px;
}

body {
	background-image: url(/assets/img/top.jpg);
	background-size: cover;
}

.billding > div {
	height: 100%;
	border: solid;
}

.floor {
	height: 12vh;
}

.floor:nth-child(odd){
	background-color: #fff;
}

.floor:nth-child(even){
	background-color: #eee;
}

#floor-map {
	height: 500px;
	width: 500px;

	/* 後で消します */
	background-color: cadetblue;
}

#modal * {
	font-size: 2.5vh;
}

.modal-body {
	background-image: url(/assets/svg/west_1f.svg);
	background-size: cover;
	height: 48vh;
}

svg {
	width: 240px;
	height: 256.6px;
}

svg image {
	width: 240px;
	height: 256.6px;
}

#floor-map .row1 {
	height: 30%;
}

#floor-map .row1 > div:nth-child(1){
	background-color: slategrey;
}

#floor-map .row1 > div:nth-child(2){
	background-color: rgb(148, 95, 95);
}

#floor-map .row1 > div:nth-child(3){
	background-color: rgb(61, 111, 161);
}
