body * {
	font-size: 3.5vh;
}

.container-fluid {
	background-image: url(/assets/img/top_2.jpg);
	background-size: cover;
	height: 70vh;
}

#modal .modal-lg {
	max-width: 800px;
}

.billding > div {
	height: 100%;
	border: solid;
}

.floor {
	height: 12vh;
}

.floor:nth-child(odd){
	background-color: #fff;
}

.floor:nth-child(even){
	background-color: #eee;
}

#floor-map {
	height: 500px;
	width: 500px;

	/* 後で消します */
	background-color: cadetblue;
}

#modal * {
	font-size: 2.5vh;
}

.modal-body {
	background-image: url(/assets/svg/west_1f.svg);
	background-size: cover;
	height: 48vh;
}

#modal-body * {
	font-size: 1.5vh;
}

svg {
	width: 240px;
	height: 256.6px;
}

svg image {
	width: 240px;
	height: 256.6px;
}

#floor-map .row1 {
	height: 30%;
}

#floor-map .row1 > div:nth-child(1){
	background-color: slategrey;
}

#floor-map .row1 > div:nth-child(2){
	background-color: rgb(148, 95, 95);
}

#floor-map .row1 > div:nth-child(3){
	background-color: rgb(61, 111, 161);
}

#graph-area * {
	font-size: 2vh;
}

#graph-area {
	background-color: #fff;
	padding: 15px;
}

.a_team, .b_team, .c_team, .none_team {
	color: #fff;
}

.a_team {
	background-color: coral;
}

.b_team {
	background-color: lightskyblue;
}

.c_team {
	background-color: rgb(31, 210, 61);
}

.none_team {
	background-color: rgba(82, 78, 78, 0.568)
}

#status-bar {
	height: 50px;
}

#modal #tenant {
	overflow: scroll;
    height: 100%;
}

#modal #tenant span
{
    padding: 3px 10px;
    border-radius: 17px;
}