<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <style type="text/css" media="screen">
    @import url("/assets/css/index.css");
  </style>
</head>

<body>

	<div class="container-fluid mt-5">
		<div class="row m-1">
			<div class="east col-5">
				<p>イースト</p>
				<table>
					<tr>
						<td>ダイソー</td>
					</tr>
					<tr>
						<td>ダイソー</td>
					</tr>
					<tr>
						<td>ダイソー</td>
					</tr>
					<tr>
						<td>ダイソー</td>
					</tr>
					<tr>
						<td>ダイソー</td>
					</tr>
				</table>
			</div>
			<div class="center col-2">

			</div>
			<div class="west  col-5">
				<p>ウエスト</p>
				<table>
					<tr>
						<td>ダイソー</td>
					</tr>
					<tr>
						<td>ダイソー</td>
					</tr>
					<tr>
						<td>ダイソー</td>
					</tr>
					<tr>
						<td>ダイソー</td>
					</tr>
					<tr>
						<td>ダイソー</td>
					</tr>
				</table>
			</div>
		</div>	
	</div>
</body>
</html>
