<!DOCTYPE html>
<html>
<head>
  <style type="text/css" media="screen">
	@import url("/assets/css/index.css");
	@import url("/assets/bootstrap-4.3.1-dist/css/bootstrap.min.css");
	@import url("/assets/bootstrap-4.3.1-dist/css/bootstrap-grid.min.css");
  </style>
</head>

<body>

	<div class="container-fluid pt-5">
		<div class="row m-1">
			<div class="billding col-5">
				<div class="east row text-center">
					<div class="floor col-12" floor-id="e_5">5F</div>
					<div class="floor col-12" floor-id="e_4">4F</div>
					<div class="floor col-12" floor-id="e_3">3F</div>
					<div class="floor col-12" floor-id="e_2">2F</div>
					<div class="floor col-12" floor-id="e_1">1F</div>
				</div>
			</div>
			<div class="center col-2">

			</div>
			<div class="billding west col-5">
				<div class="west row text-center">
					<div class="floor col-12" floor-id="w_5">5F</div>
					<div class="floor col-12" floor-id="w_4">4F</div>
					<div class="floor col-12" floor-id="w_3">3F</div>
					<div class="floor col-12" floor-id="w_2">2F</div>
					<div class="floor col-12" floor-id="w_1">1F</div>
				</div>
			</div>
		</div>
	</div>
	<div id="graph-area">
		<h3>全体</h3>
		<div class="row">
			{{range .list}}
				<div class="{{.ClassName}} text-center" style="width: {{.All}}%;">{{.Id}} : {{.All}}%</div>
			{{end}}
		</div>
		<h3>EAST</h3>
		<div class="row">
			{{range .list}}
				<div class="{{.ClassName}} text-center" style="width: {{.West}}%;">{{.Id}} : {{.West}}%</div>
			{{end}}
		</div>
		<h3>WEST</h3>
		<div class="row">
			{{range .list}}
				<div class="{{.ClassName}} text-center" style="width: {{.East}}%;">{{.Id}} : {{.East}}%</div>
			{{end}}
		</div>
	</div>
	<div id="ragist-serial">
		<div class="row text-center">
			<button type="button" id="btnRagistSerial" class="btn btn-primary">シリアルコードを入力</button>
		</div>
	</div>
	<!-- modal content -->
	<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="label1" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
				<h5 class="modal-title" id="label1"></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				</div>
				<div class="modal-body" id="modal-body"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<!-- <button type="button" class="btn btn-primary">OK</button> -->
				</div>
			</div>
		</div>
	</div>
	<div id="dummy" style="display:none">
		<div id="modal-ragist-serial">
			<div class="row"><p>シリアルコード</p></div>
			<div class="row"><button type="button" id="modalBtnRagist" class="btn btn-primary">登録</button></div>
		</div>
	</div>
		
	<script src="/assets/jquery/jquery-3.4.1.min.js"></script>
	<script src="/assets/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
	<script src="/assets/js/ajax.js"></script>

	<script src="/assets/js/index.js"></script>
	<script src="/assets/jsQR/jsQR.min.js"></script>

</body>
</html>
