<!DOCTYPE html>
<html>
<head>
  <style type="text/css" media="screen">
	@import url("/assets/css/index.css");
	@import url("/assets/bootstrap-4.3.1-dist/css/bootstrap.min.css");
	@import url("/assets/bootstrap-4.3.1-dist/css/bootstrap-grid.min.css");

  </style>

<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
</head>

<body>

	<div class="container-fluid pt-5">
		<div class="row m-1">
			<div class="billding col-5">
				<div class="east row text-center">
					<div class="floor col-12">5F</div>
					<div class="floor col-12">4F</div>
					<div class="floor col-12">3F</div>
					<div class="floor col-12">2F</div>
					<div class="floor col-12">1F</div>
				</div>
			</div>
			<div class="center col-2">

			</div>
			<div class="billding west col-5">
				<div class="west row text-center">
					<div class="floor col-12">5F</div>
					<div class="floor col-12">4F</div>
					<div class="floor col-12">3F</div>
					<div class="floor col-12">2F</div>
					<div class="floor col-12">1F</div>
				</div>
			</div>
		</div>	
	</div>
	<!-- modal content -->
	<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="label1" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
				<h5 class="modal-title" id="label1"></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				</div>
				<div class="modal-body" id="modal-body">
					<div id="status-bar" class="row">
						<div id="a_bar" class="text-center">A</div>
						<div id="b_bar" class="text-center">B</div>
					</div>
					<div id="tenant">
						<p>A: エルブレス</p>
						<p>A: ヴィクトリア　ゴルフ</p>
						<p>B: 試打室</p>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<!-- <button type="button" class="btn btn-primary">OK</button> -->
				</div>
			</div>
		</div>
	</div>
		
	<script src="/assets/jquery/jquery-3.4.1.min.js"></script>
	<script src="/assets/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
	<script src="/assets/js/index.js"></script>

</body>
</html>
